/* #mycard {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}  */

#home-carousel {
  margin: 16px auto;
  width: 65%;
}
.home-carousel-item {
  height: 512px;
}
.home-carousel-image {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: brightness(80%);
}
#product-catalog-cards {
  margin: auto;
}
#contact-form-card {
  margin: 30px 30%;
}
