/* Ajustar margen del carrusel y centrarlo */
#home-carousel {
  margin: 16px auto;
  width: 65%;
}

/* Ajustar altura del carrusel */
.home-carousel-item {
  height: 512px;
}

/* Ajustar imagen a carrusel y evitar distorsión de la imagen */
.home-carousel-image {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: brightness(80%);
}

/* Ajustar tarjeta con el formulario de contacto */
#contact-form-card {
  margin: 30px 30%;
}
